<a href="https://colab.research.google.com/github/hmyrcmn/MachinaLearning/blob/main/hauseData_analize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [207]:
import pandas as pd
data = pd.read_csv('/content/Melbourne_housing_FULL.csv')

# Okunan veriyi görüntüle
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [208]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [209]:
data.shape

(34857, 21)

In [210]:
data.size

731997

In [211]:
data.ndim

2

null deger varmı veride varsa onların düzenlenmesi gerek

In [212]:
data.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

price daki null satırların düzenlenmesi:

In [213]:
prices=data.iloc[:,4:5]

prices
prices_null_deger_sayisi = prices.isnull().sum()
prices_null_deger_sayisi  # check the null

Price    7610
dtype: int64

In [214]:
# Sadece 'prices' sütununu içeren bir DataFrame oluşturun
prices=data.iloc[:,4:5]
# SimpleImputer'ı oluşturun
imputer = SimpleImputer(strategy='mean')

# Imputer'ı 'prices' verisine uygulayın
prices['Price'] = imputer.fit_transform(prices)

# Null değerlerin ortalama ile doldurulmuş 'prices' verisini gösterin
print(prices)

              Price
0      1.050173e+06
1      1.480000e+06
2      1.035000e+06
3      1.050173e+06
4      1.465000e+06
...             ...
34852  1.480000e+06
34853  8.880000e+05
34854  7.050000e+05
34855  1.140000e+06
34856  1.020000e+06

[34857 rows x 1 columns]

Null price değerler ortalama hesaplama ile düzenlendi null degere sahip bir price degeri yok artık

In [215]:
prices_null_deger_sayisi = prices.isnull().sum()
prices_null_deger_sayisi

Price    0
dtype: int64

BEDROOM  null deger düzenlemesi

In [222]:
bedroom=data.iloc[:,10:11]

bedroom
bedroom_null_deger_sayisi = bedroom.isnull().sum()

bedroom_null_deger_sayisi  # check the null

Bedroom2    8217
dtype: int64

In [223]:
# SimpleImputer'ı oluşturun
imputer = SimpleImputer(strategy='mean')

# Imputer'ı 'prices' verisine uygulayın
bedroom['Bedroom2'] = imputer.fit_transform(bedroom)

# Null değerlerin ortalama ile doldurulmuş 'prices' verisini gösterin
print(bedroom)

       Bedroom2
0      2.000000
1      2.000000
2      2.000000
3      3.000000
4      3.000000
...         ...
34852  4.000000
34853  2.000000
34854  2.000000
34855  3.084647
34856  2.000000

[34857 rows x 1 columns]

In [224]:
bedroom_null_deger_sayisi = bedroom.isnull().sum()

bedroom_null_deger_sayisi  # check the null

Bedroom2    0
dtype: int64

bathroom null degerler düzenlenmesi

In [216]:
bathroom=data.iloc[:,11:12]

bathroom
bathroom_null_deger_sayisi = bathroom.isnull().sum()
bathroom_null_deger_sayisi  # check the null

Bathroom    8226
dtype: int64

In [217]:
# SimpleImputer'ı oluşturun
imputer = SimpleImputer(strategy='mean')

# Imputer'ı 'prices' verisine uygulayın
bathroom['Bathroom'] = imputer.fit_transform(bathroom)

# Null değerlerin ortalama ile doldurulmuş 'prices' verisini gösterin
print(bathroom)

       Bathroom
0      1.000000
1      1.000000
2      1.000000
3      2.000000
4      2.000000
...         ...
34852  1.000000
34853  2.000000
34854  1.000000
34855  1.624798
34856  1.000000

[34857 rows x 1 columns]

In [218]:
bathroom_null_deger_sayisi = bathroom.isnull().sum()
bathroom_null_deger_sayisi  # check the null  # BATHROOM COLON DÜZENLENDİ

Bathroom    0
dtype: int64

In [219]:
data.duplicated().sum()

1