<a href="https://colab.research.google.com/github/hmyrcmn/MachinaLearning/blob/main/hauseData_analize_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [207]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

Kategorik Sütunlar:

"Suburb": Şehir veya semt gibi kategori değerleri içeriyor gibi görünüyor.

"Address": Ev adresi gibi benzersiz metin değerleri içeriyor.

"Type": Evin tipini temsil eden kategori değerleri içeriyor (örneğin, "h" veya "t").

"Method": Satış yöntemini temsil eden kategori değerleri içeriyor (örneğin, "S" veya "SS").

"SellerG": Evin satıcısını temsil eden kategori değerleri içeriyor.

"CouncilArea": Konsey alanını temsil eden kategori değerleri içeriyor.


Sayısal Sütunlar:


"Rooms": Oda sayısı gibi tam sayı değerleri içeriyor.

"Price": Evin fiyatını temsil eden ondalık sayı değerleri içeriyor.

"Distance": Şehir merkezine uzaklığı temsil eden ondalık sayı değerleri içeriyor.

"Postcode": Posta kodunu temsil eden tam sayı değerleri içeriyor.

"Bathroom" ve "Car": Oda sayısı gibi tam sayı değerleri içeriyor.

In [208]:
import pandas as pd
data = pd.read_csv('/content/Melbourne_housing_FULL.csv')

# Okunan veriyi görüntüle
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [209]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [210]:
data.shape

(34857, 21)

In [211]:
data.size

731997

In [212]:
data.ndim

2

null deger varmı veride varsa onların düzenlenmesi gerek

In [213]:
data.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [214]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,34857.0,3.031012e+00,0.969933,1.00000,2.00000,3.0000,4.000000e+00,1.600000e+01
Price,27247.0,1.050173e+06,641467.130105,85000.00000,635000.00000,870000.0000,1.295000e+06,1.120000e+07
Distance,34856.0,1.118493e+01,6.788892,0.00000,6.40000,10.3000,1.400000e+01,4.810000e+01
Postcode,34856.0,3.116063e+03,109.023903,3000.00000,3051.00000,3103.0000,3.156000e+03,3.978000e+03
Bedroom2,26640.0,3.084647e+00,0.980690,0.00000,2.00000,3.0000,4.000000e+00,3.000000e+01
Bathroom,26631.0,1.624798e+00,0.724212,0.00000,1.00000,2.0000,2.000000e+00,1.200000e+01
Car,26129.0,1.728845e+00,1.010771,0.00000,1.00000,2.0000,2.000000e+00,2.600000e+01
Landsize,23047.0,5.935990e+02,3398.841946,0.00000,224.00000,521.0000,6.700000e+02,4.330140e+05
BuildingArea,13742.0,1.602564e+02,401.267060,0.00000,102.00000,136.0000,1.880000e+02,4.451500e+04
YearBuilt,15551.0,1.965290e+03,37.328178,1196.00000,1940.00000,1970.0000,2.000000e+03,2.106000e+03
Lattitude,26881.0,-3.781063e+01,0.090279,-38.19043,-37.86295,-37.8076,-3.775410e+01,-3.739020e+01
Longtitude,26881.0,1.450019e+02,0.120169,144.42379,144.93350,145.0078,1.450719e+02,1.455264e+02
Propertycount,34854.0,7.572888e+03,4428.090313,83.00000,4385.00000,6763.0000,1.041200e+04,2.165000e+04

In [215]:
# Yineleme verilerini kontrol etme
nunique_counts = data.nunique()
data.nunique()
# 10 üstündekiler numerik  10 altındakiler kategorik

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [216]:
# Kategorik ve sayısal sütunları depolamak için boş listeler oluşturun
categorical_columns = []
numeric_columns = []

# Sütunları taramak ve ayırt etmek için bir döngü kullanın
for column in data.columns:
    if data[column].dtype == 'object':
        categorical_columns.append(column)
    else:
        numeric_columns.append(column)

# Kategorik ve sayısal sütunları görüntüleyin
print("Kategorik Sütunlar:")
print(categorical_columns)
print("\nSayısal Sütunlar:")
print(numeric_columns)

Kategorik Sütunlar:
['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea', 'Regionname']

Sayısal Sütunlar:
['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude', 'Propertycount']

In [217]:
print("before:",data.duplicated().sum())
data =data.drop_duplicates() # dublice veriler temizlendi
print("after",data.duplicated().sum())

before: 1
after 0

In [218]:
data.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7609
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [219]:
# Aykırı verileri z-skor yöntemi ile tespit etme ve temizleme

import pandas as pd
from scipy import stats

columns_to_check = ['Landsize', 'BuildingArea']
z_scores = np.abs(stats.zscore(data[columns_to_check]))
threshold = 3
outlier_mask = (z_scores < threshold).all(axis=1)
cleaned_data = data[outlier_mask]

In [223]:
# Aykırı verileri z-skor yöntemi ile tespit etme ve temizleme
from scipy import stats
z_scores = np.abs(stats.zscore(data[['Landsize', 'BuildingArea']]))
data = data[(z_scores < 3).all(axis=1)]

In [221]:
data.isnull().sum()

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Postcode         0.0
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
BuildingArea     0.0
YearBuilt        0.0
CouncilArea      0.0
Lattitude        0.0
Longtitude       0.0
Regionname       0.0
Propertycount    0.0
dtype: float64

In [225]:
# eksik verileri düzenleme işlemi
categorical_columns = ['Bathroom', 'Car']
for column in categorical_columns:
    data[column] = data[column].fillna(data[column].mode().iloc[0:1])

In [227]:
data

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Distance, Postcode, Bedroom2, Bathroom, Car, Landsize, BuildingArea, YearBuilt, CouncilArea, Lattitude, Longtitude, Regionname, Propertycount]
Index: []

[0 rows x 21 columns]

In [226]:
data.isnull().sum()

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Postcode         0.0
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
BuildingArea     0.0
YearBuilt        0.0
CouncilArea      0.0
Lattitude        0.0
Longtitude       0.0
Regionname       0.0
Propertycount    0.0
dtype: float64

In [ ]:
data.describe().T

In [ ]:
# Aykırı verileri z-skor yöntemi ile tespit etme ve temizleme
from scipy import stats
z_scores = np.abs(stats.zscore(data[['Landsize', 'BuildingArea']]))
data = data[(z_scores < 3).all(axis=1)]

In [ ]:
# Eksik değer içeren sayısal sütunların adlarını belirleyin
numeric_columns_with_missing_values = ['Bedroom2', 'Bathroom', 'Car', 'Landsize','CouncilArea', 'BuildingArea', 'Lattitude', 'Longtitude','Propertycount']

# SimpleImputer'ı oluşturun
imputer = SimpleImputer(strategy='mean')

# Her bir eksik değer içeren sayısal sütun için eksik değerleri doldurun
data[numeric_columns_with_missing_values] = imputer.fit_transform(data[numeric_columns_with_missing_values])

# Eksik değer sayısını kontrol edin
missing_values_count = data.isnull().sum()
print("Eksik değer sayısı:", missing_values_count)

In [ ]:
data.isnull().sum()

In [ ]:

# Fiyat dağılımını görselleştirme
plt.figure(figsize=(10, 6))
sns.histplot(data['Price'], bins=30, kde=True)
plt.title('Fiyat Dağılımı')
plt.xlabel('Fiyat')
plt.ylabel('Sayı')
plt.show()

In [ ]:
# Sayısal değişkenlerin fiyat ile ilişkisini gösteren çift çizim
sns.pairplot(data[['Rooms', 'Distance', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']])
plt.show()

In [ ]:
# Korelasyon matrisini gösteren ısı haritası
corr_matrix = data.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
plt.title('Korelasyon Matrisi')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Fiyat dağılımını görselleştirme
plt.figure(figsize=(8, 6))
plt.hist(data['Price'], bins=30, color='blue')
plt.title("Fiyat Dağılımı")
plt.xlabel("Fiyat")
plt.ylabel("Frekans")
plt.show()

# Örnek olarak iki sayısal sütun seçelim (örneğin, 'Rooms' ve 'Distance')
numerical_columns = ['Rooms', 'Distance']

for column in numerical_columns:
    plt.figure(figsize=(8, 6))
    sns.scatterplot(data=data, x=column, y='Price')
    plt.title(f"{column} ile Fiyat Arasındaki İlişki")
    plt.xlabel(column)
    plt.ylabel("Fiyat")
    plt.show()

# Kategorik sütunları belirleyin (örneğin, 'Type', 'Method', 'Regionname')
categorical_columns = ['Type', 'Method', 'Regionname']

# Kategorik değişkenleri one-hot encoding ile işleyin
encoded_data = pd.get_dummies(data, columns=categorical_columns)

# Korelasyon matrisini hesaplayın
correlation_matrix = encoded_data.corr()

# Korelasyon matrisini görselleştirin
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title("Korelasyon Matrisi")
plt.show()